<section class="test" (ngStyle)="{'display' : 'flex'}">

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <figure class="picB">
            <img class="pawelczuPersonalCSS" height="150" src="assets/images/Axolotl.png.jpg" style="width:100%">
            <figcaption><h4>{{pawelczuName}}</h4></figcaption>
        </figure>
    </mat-grid-tile>
    <mat-grid-tile>
        <figure class="picA">
            <img class="pawelczuCountryCSS" height="150" src="assets/images/Poland.png" style="width:100%">
            <figcaption><h4>{{pawelczuCountry}}</h4></figcaption>
        </figure>
    </mat-grid-tile>
</mat-grid-list>
  
</section>
  

<!-- height="233"<p>{{pawelczuCountry}}</p><p>{{pawelczuName}}</p width="310"  -->