<app-header-pawelczu [pawelczuId]="getId"></app-header-pawelczu>

<mat-tab-group>

    <mat-tab>
        <ng-template mat-tab-label>
            Tab#1/pawelcu({{getId}})
            <mat-icon class="" example-tab-icon>mood</mat-icon>
        </ng-template>
        <app-pawelczu-about [pawelczuName]="getName" [pawelczuEmail]="getEmail" [pawelczuCampus]="getCampus"></app-pawelczu-about>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            Tab#2/pawelcu({{getId}})
            <mat-icon class="" example-tab-icon>flag</mat-icon>
        </ng-template>
        <app-pawelczu-country [pawelczuCity]="getCity"  [pawelczuCountry]="getCountry" [pawelczuAverageSalary]="getAverageSalary.toString()"></app-pawelczu-country>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            Tab#3/pawelcu({{getId}})
            <mat-icon class="" example-tab-icon>photo_camera</mat-icon>
        </ng-template>
        <app-pawelczu-pics [pawelczuName]="getName" [pawelczuCountry]="getCountry"></app-pawelczu-pics>
    </mat-tab>
   
</mat-tab-group>